@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  width: 100%;
  background: #ffffff; /* Ensure header background is white */
  border-bottom: 1px solid #eaeaea;
}

.header .navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header .logo img {
  width: 70px;
  height: 40px;
}

.header nav {
  display: flex;
  gap: 30px;
}

.header nav a {
  color: black;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}

.hvr-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background: #000000;
  transition: width 0.5s ease-in-out;
}

.hvr-link:hover::before {
  width: 100%;
}
